<%- include('../partials/header') %>

  <div class="container-fluid px-sm-3 px-lg-5" style="justify-content: space-between;">
    <div class="row">
      <!-- div leaderbord container -->
      <% if(user) { %>
        <div class="col-sm-12 col-lg-8 order-2 order-md-1">
          <div class="scroll-snap-card d-flex justify-content-center align-items-center px-sm-3 px-lg-5"
            style="padding-top: 10px;">
            <div class="card-body" style="overflow-y: auto; height: 82vh; text-align: center;">
              <div class="table-responsive ticket-table">
                <table id="example" class="display dataTablesCard dataTable no-footer" style="color: black;" role="grid"
                  aria-describedby="example_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label="S.No.: activate to sort column descending"
                        style="width: 74.5833px; color: rgb(255, 255, 255);">Rank</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                        aria-label="Employee ID: activate to sort column ascending"
                        style="width: 187.302px; color: rgb(255, 255, 255);">Name
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                        aria-label="Name: activate to sort column ascending"
                        style="width: 240.625px; color: rgb(255, 255, 255);">Threads Created
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% let index=0 %>
                      <% users.forEach(user=> { %>
                        <% index++ %>
                          <tr class="odd" role="row">
                            <td class="sorting_1"
                              style="color: black; font-weight: bold; padding-top: 10px; padding-bottom: 10px;">
                              <%= index %>
                            </td>
                            <td style="color: black; font-weight: bold; padding-top: 10px; padding-bottom: 10px;">
                              <%= user.name %>
                            </td>
                            <td style="color: black; font-weight: bold; padding-top: 10px; padding-bottom: 10px;">
                              <div>
                                <%= user.threadsCreated %>
                              </div>
                            </td>
                          </tr>
                          <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <% } else{ %>
          <!-- IF NOT LOGGED IN -->
          <div class="col-sm-12 col-lg-12 order-2 order-md-1">
            <div class="scroll-snap-card d-flex justify-content-center align-items-center px-sm-3 px-lg-5"
              style="padding-top: 10px;">
              <div class="card-body" style="overflow-y: auto; height: 80vh; text-align: center;">
                <div class="table-responsive ticket-table">
                  <table id="example" class="display dataTablesCard dataTable no-footer" style="color: black;"
                    role="grid" aria-describedby="example_info">
                    <thead>
                      <tr>
                        <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                          aria-sort="ascending" aria-label="S.No.: activate to sort column descending"
                          style="width: 74.5833px; color: rgb(255, 255, 255);;">Rank</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                          aria-label="Employee ID: activate to sort column ascending"
                          style="width: 187.302px; color: rgb(255, 255, 255);">Name
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                          aria-label="Name: activate to sort column ascending"
                          style="width: 240.625px; color: rgb(255, 255, 255);">Threads Created
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% let index=0 %>
                        <% users.forEach(user=> { %>
                          <% index++ %>
                            <tr class="odd" role="row">
                              <td class="sorting_1"
                                style="color: black; font-weight: bold; padding-top: 10px; padding-bottom: 10px;">
                                <%= index %>
                              </td>
                              <td style="color: black; font-weight: bold; padding-top: 10px; padding-bottom: 10px;">
                                <%= user.name %>
                              </td>
                              <td style="color: black; font-weight: bold; padding-top: 10px; padding-bottom: 10px;">
                                <div>
                                  <%= user.threadsCreated %>
                                </div>
                              </td>
                            </tr>  
                            <% }); %>
                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>
          <% } %>

            <!-- div profile  -->
            <% if(user){ %>
              <div class="col-lg-4 d-flex justify-content-center align-items-center order-1 order-md-2" id="profile"
                style="margin-bottom: px; border-radius: 10px;">
                <div class="my-4 d-flex justify-content-center align-items-center">
                  <div class="card">
                    <div class="profileImage">
                      <img src="<%= user.avatar %>" alt="" class="">
                    </div>
                    <div class="textContainer">
                      <p class="name">Name: <%= currentUser.name %>
                      </p>
                      <p class="Replies">Threads Created: <%= currentUser.threadsCreated %>
                      </p>
                    </div>
                    <% }; %>
                  </div>
                </div>
              </div>
    </div>
  </div>

  <%- include('../partials/footer') %>