<%- include('../partials/header') %>

  <div class="thread-info d-flex flex-row justify-content-evenly" style="margin-top: 20px;">
    <% if(user) { %>
      <p class="button-5"> Threads Created:
        <%= user.threadsCreated %>
      </p>
      <p class="button-5"> Comments:
        <%= user.threadsCreated %>
      </p>
      <p class="button-5"> Replies:
        <%= user.threadsCreated %>
      </p>
      <% }; %>
  </div>

  <div id="threads">
    <div class="container pt-5 pb-5">
      <h1>My Threads</h1>
      <div>
        <hr class="mt-4 mb-4" />
        <% threads.forEach(thread=> { %>
          <div class="thread-container d-flex flex-column mb-4">
            <a class="thread-title" href="/threads/thread-view?id=<%= thread._id %>">
              <%= thread.title %>
            </a>

            <div class="thread-info d-flex flex-row justify-content-between row">
              <div class="d-flex flex-row col-8">
                <img class="thread-avatar" src='<%= thread.avatar %>' />
                <div class="d-flex flex-column">
                  <span class="thread-author">
                    <%= thread.author %>
                  </span>
                  <span class="thread-createdAt">
                    <%= thread.createdAt %>
                  </span>
                </div>
              </div>


              <div class="thread-container-type d-flex flex-row col-4 flex-wrap justify-content-end">
                <span class="thread-cohort button-34">
                  <%= thread.cohort %>
                </span>
                <span class="thread-type button-35">
                  <%= thread.threadType %>
                </span>
              </div>
            </div>
            <span class="thread-description">
              <%= thread.briefDescription %>
            </span>

            <div class="thread-container-type d-flex flex-row col-12 flex-wrap justify-content-end">
              <a href="/profile/threads-update?id=<%= thread._id %>" class="button-edit"
                style="margin-right: 20px;"><img src='/images/pen_icon.png' style=" margin-right: 10px;">
                Edit</a>
              <button type="button" class="button-delete" data-toggle="modal" data-target="#exampleModalLong">
                <img src='images/trash-icon.png' style="width: 20px; margin-right: 10px;"> Delete
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Confirm Below</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete this?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <form action="/profile/<%= thread._id %>/deleteThread?_method=DELETE" method="POST">
                        <input type="hidden" name="id" value="<%= thread._id %>" class="button-5">
                        <input type="submit" value='Yes' class="btn btn-secondary" />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>




          </div>
          <% }); %>
      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>