<%- include('../partials/header') %>

  <div id="threads">
    <div class="container pt-5 pb-5">
      <h1>Threads</h1>
      <div>
        <hr class="mt-4 mb-4" />
        <% if(user){ %>
          <a href="/threads/threads-new">Add a new thread</a>
          <% }; %>
            <div class="thread-container d-flex flex-column mb-4">

              <% threads.forEach(thread=> { %>

                <a href="/threads/thread-view">
                  <h4>
                    <%= thread.title %>
                  </h4>
                </a>

                <div class="thread-info d-flex flex-row justify-content-between">
                  <div class="d-flex flex-row">
                    <img src='<%= thread.avatar %>' />
                    <div class="d-flex flex-column">
                      <h6>
                        <%= thread.author %>
                      </h6>
                      <h6>
                        <%= thread.createdAt %>
                      </h6>
                    </div>
                  </div>


                  <div class="thread-container-type d-flex flex-row">
                    <span class="thread-cohort">
                      <%= thread.cohort %>
                    </span>
                    <span class="thread-type">
                      <%= thread.threadType %>
                    </span>
                  </div>
                </div>
                <h5>
                  <%= thread.content %>
                </h5>

                <% }); %>
            </div>

      </div>

    </div>
  </div>

  <%- include('../partials/footer') %>