<%- include('../partials/header') %>
  <div id="thread-view" v-cloak>
    <div class="container pt-5 pb-5">
      <h1>Add a new Thread</h1>
      <hr>

      <form action="/threads" method="post">
        <label for="title">Thread Title:</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="briefDescription">Brief Description:</label>
        <input type="text" id="briefDescription" name="briefDescription"><br><br>
        <label for="content">Content:</label><br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
        <label for="cohort">Thread Cohort:</label>
        <select name="cohort" id="cohorts">
          <option value="General">General</option>
          <option value="SEI">Software Engineering Immersive</option>
          <option value="DAI">Data Analytics</option>
          <option value="UI/UX">User Interface / User Experience</option>
        </select>

        <label for="threadType">Thread Type:</label>
        <select name="threadType" id="type">
          <option value="General">General</option>
          <option value="Feedback">Feedback</option>
          <option value="Issues">Issues</option>
          <option value="Suggestions">Suggestions</option>
          <option value="Project Sharing">Project Sharing</option>
        </select>
        <input type="hidden" value="<%=user.avatar %>" id="avatar" name="avatar">
        <input type="hidden" value="<%=user.name %>" id="author" name="author">
        <input type="hidden" value="<%=user._id %>" id="authorId" name="authorId">
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <%- include('../partials/footer') %>