<%- include('../partials/header') %>
  <div id="thread-view">
    <div class="container pt-5 pb-5">
      

  

          <div class="thread-container d-flex flex-column mb-4">
          <span class="thread-show-title">- <%= thread.title %> -</span>

          <div class="thread-info d-flex flex-row justify-content-between row">
            <div class="d-flex flex-row col-8">
              <img class="thread-avatar" src='<%= thread.avatar %>' />
              <div class="d-flex flex-column">
                <span class="thread-author">
                  <%= thread.author %>
                </span>
                <span class="thread-createdAt">
                  <%= thread.createdAt %>
                </span>
              </div>
            </div>


            <div class="thread-container-type d-flex flex-row col-4 flex-wrap justify-content-end">
              <span class="thread-cohort button-34">
                <%= thread.cohort %>
              </span>
              <span class="thread-type button-35">
                <%= thread.threadType %>
              </span>
            </div>
          </div>
          <span class="thread-show-content">
            <%= thread.content %>
          </span>
        </div>
   

  

    </div>
  </div>
  <%- include('../partials/footer') %>