<%- include('../partials/header') %>
  <div id="thread-view">
    <div class="container pt-5 pb-5">
      

  

          <div class="thread-container d-flex flex-column mb-4">
          <span class="thread-show-title">- <%= thread.title %> -</span>

          <div class="thread-info d-flex flex-row justify-content-between row">
            <div class="d-flex flex-row col-8">
              <img class="thread-avatar" src='<%= thread.avatar %>' />
              <div class="d-flex flex-column">
                <span class="thread-author">
                  <%= thread.author %>
                </span>
                <span class="thread-createdAt">
                  <%= thread.createdAt %>
                </span>
              </div>
            </div>


            <div class="thread-container-type d-flex flex-row col-4 flex-wrap justify-content-end">
              <span class="thread-cohort button-34">
                <%= thread.cohort %>
              </span>
              <span class="thread-type button-35">
                <%= thread.threadType %>
              </span>
            </div>
          </div>
          <span class="thread-show-content">
            <%= thread.content %>
          </span>
        </div>
   
        <div class="thread-container d-flex flex-column mb-4">
          <span class="thread-comment-status">No Comments Yet</span>

          <% if(user){ %>
          <form action="/threads/thread-view?id=<%= thread._id %>" method="post" class="comments-input">
            <div class="form-group row">
              <label for="content">Comment:</label>
              <textarea class="form-control comment-write" name="content" id="comment" cols="30" rows="2" placeholder="Add a Comment ..."></textarea>
            </div>
  
            <input type="hidden" value="<%=user.avatar %>" id="avatar" name="avatar">
            <input type="hidden" value="<%=user.name %>" id="author" name="author">
            <input type="hidden" value="<%=user._id %>" id="authorId" name="authorId">
  
            <input type="submit" value="Create Comment" class="button-1 comments-submit">
          </form>
          <% }; %>

          <div class="comments-container d-flex">
            <img class="thread-avatar" src='<%= thread.avatar %>' />
            <p class="comment-text">this is my comment to you human beings</p>
          </div>
          <div class="replies-container d-flex">
            <img class="thread-avatar" src='<%= thread.avatar %>' />
            <p class="replies-text">this is my comment to you human beings</p>
          </div>
        </div>
  
    </div>
  </div>
  <%- include('../partials/footer') %>